/*
p {
  color: red;
  width: 500px;
  border: 1px solid black;
}
/*chỉnh màu chữ với nhiều tag
p,
h1,
h2,
h3 {
  color: red;
}
li {
    color: blueviolet
}
*/

html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }

h2 {
  text-align: center
}

/*điều chỉnh vị trí text và cỡ chữ*/
h1 {
  font-size: 60px;
  text-align: center;
}

h2, h3 {
    text-align: center;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
  
html {
    background-color: #30009f;
  }

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
/*chỉnh title*/
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
  }
/*căn ảnh về giữa*/
img {
  display: block;
  margin: 0 auto;
}

